@import url(https://fonts.google.com/specimen/Kumbh+Sans);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    
}

.bg-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: -1;
}
.bg-1 {
    position: absolute;
    top: -60%;
    right: 55%;
}
.bg-2 {
    position: absolute;
    top: 50%;
    left: 50%;
}


.wrapper {
    margin: 0 auto;
    display: block;
    max-width: 320px;
}

.card {
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: 55%;
    font-size: 18px;
    font-family: Kumbh Sans, sans-serif;
}

.card-top {
    margin: 0 auto;
    height: 15em;
    width: 100%;
    height: 100%;
}

.card-top img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-profile-image {
    margin: 0 auto;
    border-radius: 55px;
    background-color: white;
    width: 96px;
    height: 96px;
    padding: 5px;
    margin-top: -3.5em;
}

.card-profile-image img {
    border-radius: 50px;
}

.card-mid {
    background-color: white;
    margin-top: -3.5em;
    padding-top: 5em;
    padding-bottom: 2em;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.card-mid .name {
    font-weight: 700;
}

.card-mid .age {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-left: 5px;
}

.card-mid .city {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.card-bottom {
    background-color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.card-bottom ul {
    padding: 0;
    
}

.card-bottom ul li {
    list-style: none;
    display: inline;
}

.card-bottom .number {
    padding-left: 50px;
}

.card-bottom .numbers {
    font-weight: 700;
}

.card-bottom .texts {
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}

.card-bottom .text1 {
    padding-right: 40px;
}

.card-bottom .text2 {
    padding-left: 5px;
    padding-right: 15px;
}
.card-bottom .text3 {
    padding-left: 45px;
    padding-right: 0px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 16em;
    padding-bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen and (min-width: 720px) {
    .wrapper {
        max-width: 450px;
    }

    .card {
        width: 100%;
        margin-top:40%;
    }

    .card-top {
        margin: 0 auto;
        height: 8em;
        width: 100%;
    }

    .card-top img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .card-bottom ul li {
        padding-left: 20px;
        padding-right: 20px;
    }
    

    .attribution { 
        margin-top: 14em;
    }
}